<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to "#{user.first_name} #{user.last_name}", user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" } %>

      <h2><%= user.presentation_name %></h2>
      <h2><%= user.abstract %></h2>
      <h2>Visa sponsorship: <%= user.visa_sponsorship %></h2>
      <h2>Need a hotel<%= user.hotel %></h2>
  <% end %>
  <h2><%= user.organization_name %></h2>
</li>