<% provide(:title, "School") %>


<h1>Big data analysis in bioinformatics and applications</h1>

<h2>
  The program will be available soon
</h2>

<p>As a part of a School a Students' Symposium will be organized. We encourage you to submit your abstracts.
  Although it is not necessary to submit an abstract to be accepted for the School, this is a great opportunity to
  practice how to present your results to your colleagues. Accepted abstracts will be published in the Conference
  Book. The best presentations will be selected as short talks for the SocBiN Bioinformatics Conference.</p>

<strong>Application deadline:</strong> April 30 </br>

<div class="center" xmlns="http://www.w3.org/1999/html">
  <%= link_to "Register now!", new_student_path, class: "btn btn-lg btn-primary" %>
</div>

<h1>Speakers</h1>
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('carsten-daub-photo.jpg', alt: 'Carsten Daub', height: '140', width: '140', class: 'img-circle') %>
    <h2>Carsten Daub</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('finn-drablos-photo.jpg', alt: 'Finn Drablos', height: '140', width: '140', class: 'img-circle') %>
    <h2>Finn Drablos</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('johannes-soeding-photo.jpg', alt: 'Johannes Soeding', height: '140', width: '140', class: 'img-circle') %>
    <h2>Johannes Soeding</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Carsten Daub</h2>
    <p>Department of Biosciences and Nutrition, Karolinska Institutet, Sweden</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Finn Drablos</h2>
    <p>Norwegian University of Science and Technology, Trondheim, Norway
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Johannes Soeding</h2>
    <p>Research Group Leader at the Max Planck Institute for Biophysical Chemistry
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('anonymous-200.gif', alt: 'Martin Steinegger', height: '140', width: '140', class: 'img-circle') %>
    <h2>Martin Steinegger</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('ArneElofsson.jpg', alt: 'Arne Elofsson', height: '140', width: '140', class: 'img-circle') %>
    <h2>Arne Elofsson</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('VB_med.png', alt: 'Valentina Boeva', height: '140', width: '140', class: 'img-circle') %>
    <h2>Valentina Boeva</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Martin Steinegger</h2>
    <p>Max-Planck-Institut für biophysikalische Chemie, Germany</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Arne Elofsson</h2>
    <p>Professor Science for Life Laboratory, Stockholm University
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Valentina Boeva</h2>
    <p>Group Leader, INSERM, Institut Cochin Bioinformatics
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">


</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('ivan_kulakovski.jpg', alt: 'Ivan Kulakovskiy', height: '140', width: '140', class: 'img-circle') %>
    <h2>Ivan Kulakovskiy</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('yulia.jpg', alt: 'Yulia Medvedeva', height: '140', width: '140', class: 'img-circle') %>
    <h2>Yulia Medvedeva</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('anonymous-200.gif', alt: 'Artem Kasianov', height: '140', width: '140', class: 'img-circle') %>
    <h2>Artem Kasianov</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Ivan Kulakovskiy</h2>
    <p>Engelhardt Institute of Molecular Biology, Russia</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Yulia Medvedeva</h2>
    <p>Research Center of Biotechnology RAS
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Artem Kasianov</h2>
    <p>Vavilov institute of general genetics, Russia
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<hr class="featurette-divider">
</br>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('pavelmazin_avatar_1432036988.jpg', alt: 'Pavel Mazin', height: '140', width: '140', class: 'img-circle') %>
    <h2>Pavel Mazin</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Pavel Mazin</h2>
    <p>Skoltech, Russia</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->