<% provide(:title, "School") %>


<h1>Big data analysis in bioinformatics and applications</h1>

<p>June 11-13, Moscow</p>

<p>As a part of a School a Students' Symposium will be organized. We encourage you to submit your abstracts.
  Although it is not necessary to submit an abstract to be accepted for the School, this is a great opportunity to
  practice how to present your results to your colleagues. Accepted abstracts will be published in the Conference
  Book. The best presentations will be selected as short talks for the SocBiN Bioinformatics Conference.</p>

<div class="center" xmlns="http://www.w3.org/1999/html">
  <%= link_to "Registration closed", '#', class: "btn btn-lg btn-primary" %>
</div>

<h1>Speakers</h1>
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('carsten-daub-photo.jpg', alt: 'Carsten Daub', height: '140', width: '140', class: 'img-circle') %>
    <h2>Carsten Daub</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('finn-drablos-photo.jpg', alt: 'Finn Drablos', height: '140', width: '140', class: 'img-circle') %>
    <h2>Finn Drablos</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('johannes-soeding-photo.jpg', alt: 'Johannes Soeding', height: '140', width: '140', class: 'img-circle') %>
    <h2>Johannes Soeding</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Carsten Daub</h2>
    <p>Department of Biosciences and Nutrition, Karolinska Institutet, Sweden</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Finn Drablos</h2>
    <p>Norwegian University of Science and Technology, Trondheim, Norway
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Johannes Soeding</h2>
    <p>Research Group Leader at the Max Planck Institute for Biophysical Chemistry
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">

</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('anonymous-200.gif', alt: 'Martin Steinegger', height: '140', width: '140', class: 'img-circle') %>
    <h2>Martin Steinegger</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('ArneElofsson.jpg', alt: 'Arne Elofsson', height: '140', width: '140', class: 'img-circle') %>
    <h2>Arne Elofsson</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('VB_med.png', alt: 'Valentina Boeva', height: '140', width: '140', class: 'img-circle') %>
    <h2>Valentina Boeva</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Martin Steinegger</h2>
    <p>Max-Planck-Institut für biophysikalische Chemie, Germany</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Arne Elofsson</h2>
    <p>Professor Science for Life Laboratory, Stockholm University
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Valentina Boeva</h2>
    <p>Group Leader, INSERM, Institut Cochin Bioinformatics
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">


</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('ivan_kulakovski.jpg', alt: 'Ivan Kulakovskiy', height: '140', width: '140', class: 'img-circle') %>
    <h2>Ivan Kulakovskiy</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('yulia.jpg', alt: 'Yulia Medvedeva', height: '140', width: '140', class: 'img-circle') %>
    <h2>Yulia Medvedeva</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag('artem_2.jpg', alt: 'Artem Kasianov', height: '140', width: '140', class: 'img-circle') %>
    <h2>Artem Kasianov</h2>
    <p>
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Ivan Kulakovskiy</h2>
    <p>Engelhardt Institute of Molecular Biology, Russia</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Yulia Medvedeva</h2>
    <p>Research Center of Biotechnology RAS
    </p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <h2>Artem Kasianov</h2>
    <p>Vavilov institute of general genetics, Russia
    </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<hr class="featurette-divider">
</br>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= image_tag('pavelmazin_avatar_1432036988.jpg', alt: 'Pavel Mazin', height: '140', width: '140', class: 'img-circle') %>
    <h2>Pavel Mazin</h2>
    <p</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</br>
<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <h2>Pavel Mazin</h2>
    <p>Skoltech, Russia</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<hr class="featurette-divider">
<p><b>Program</b></p>
<p>Working languages are Russian and English</p>
</br>
<p><b>11.06</b></p>
<p><b>Venue: Center of Bioengeniring RAS (60-letiya Oktyabrya, 7/1)</b></p>
<p><b>Basics of NGS data analysis</b></p>
<p><b>8.50</b> Welcome remarks</p>
<p><b>9.00</b> Kasianov Artem. Data preprocessing and genome assembly (Russian)</p>
<p><b>10.30</b> Mazin Pavel. Computational analysis of RNA-Seq data  (Russian)</p>
<p><b>12.00 Coffee break</b></p>
<p><b>12.20</b> Kulakovskiy Ivan. Digging through high-throughput data on protein-DNA interactions with sequence motif analysis (Russian)</p>
<p><b>13.50 Lunch</b></p>
<p><b>15.20</b> Antonov Ivan. Ab initio prediction of programmed ribosomal frameshifting in prokaryotes (Russian)</p>
<p><b>16.50 Coffee break</b></p>
<p><b>17.10</b> Sokolov Alexey. Ancient DNA sequencing  (Russian)</p>
</br>
<p><b>12.06</b></p>
<p><b>Venue: Center of Bioengeniring RAS (60-letiya Oktyabrya, 7/1)</b></p>
<p><b>Computational epigenetics and biological data analysis</b></p>
<p><b>10.00</b> Medvedeva Yulia. Computational epigenomics (Russian)</p>
<p><b>11.30 Coffee break</b></p>
<p><b>11.50</b> Favorov Alexander. Genometricorr: spatial correlation of genome-wide interval datasets (Russian)</p>
<p><b>12.35 Lunch</b></p>
<p><b>14.00</b> Artemov Artem. Dna methylation and bisulfite sequencing data analysis (Russian)</p>
<p><b>15.30 Coffee break</b></p>
<p><b>15.50</b> Khrameeva Ekaterina. Chromatin structure (Russian)</p>
</br>
<p><b>13.06</b> </p>
<p><b>Venue: Kluch (Rochdelskaya, 15)</b> </p>
<p><b>Bioinformatics and practical applications</b></p>
<p><b>9.00</b> Daub Carsten. Going from measuring gene expression to understanding gene regulation and its relevance for medical problems (English)</p>
<p><b>10.30</b> Boeva V. Analysis of epigenetics and chromatin states in normal and cancer cells (English)</p>
<p><b>12.00 Coffee brack</b></p>
<p><b>12.20</b> Drablos Finn. Statistical analysis of genomic tracks (English)</p>
<p><b>13.50 Lunch break</b></p>
<p><b>15.00</b> Soeding Johannes and Steinegger Martin. MMseqs software suite for fast and deep clustering and searching of large protein sequence sets (English)</p>
<p><b>16.30</b> Makeev Vsevolod. Mathematical objects in data analysis in bioinformatics  (English)</p>
<p><b>18.00 Coffee break</b></p>
<p><b>18.20</b> Elofsson Arne. Structure annotation of proteomes (English)</p>
<p><b>19.50 Concluding remarks</b></p>